<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />

    <title>标题栏和工具栏</title>
    <link rel="stylesheet" href="../../dist/jinui.css">
    <link rel="stylesheet" href="../demo.css">
</head>

<body ontouchstart>
    <div class="jinui_page">
        <header class="jinui_toolbar">
            <div class="jinui_toolbar_hd">
            	<a href="javascript:;">
                    <i class="jinui_icon jinui_icon_chevron_left"></i>
                    返回
                </a>
            </div>
            <div class="jinui_toolbar_bd">标题栏</div>
            <div class="jinui_toolbar_ft">
            	<a href="javascript:;">
					搜索<i class="jinui_icon jinui_icon_search"></i>
            	</a>
            </div>
        </header>
        <!-- <header class="jinui_toolbar">
            <div class="jinui_toolbar_hd">
            	<a href="javascript:;" class="jinui_btn jinui_btn_default">返回</a>
            </div>
            <div class="jinui_toolbar_bd">标题栏</div>
            <div class="jinui_toolbar_ft">
            	<a href="javascript:;" class="jinui_btn jinui_btn_default">返回</a>
            </div>
        </header> -->

        <nav class="jinui_navbar">
        	<a href="javascript:;" class="jinui_tab_item">
        		<i class="jinui_icon jinui_icon_success"></i>
        		<div class="jinui_navbar_label">
        			首页
        		</div>
        	</a>
        	<a href="javascript:;" class="jinui_tab_item jinui_tab_item_active">
        		<i class="jinui_icon jinui_icon_cancel"></i>
        		<div class="jinui_navbar_label">
        			分类
        		</div>
        	</a>
        	<a href="javascript:;" class="jinui_tab_item">
        		<i class="jinui_icon jinui_icon_info"></i>
        		<div class="jinui_navbar_label">
        			购物车
        		</div>
        	</a>
        	<a href="javascript:;" class="jinui_tab_item">
        		<i class="jinui_icon jinui_icon_warn"></i>
        		<div class="jinui_navbar_label">
        			我的
        		</div>
        	</a>
        </nav>
        <div class="jinui_body">
        	
        	<h1 class="page_title">标题栏和工具栏</h1>
        	<p style="height:1100px;"></p>
        </div>

        
    </div>
</body>

</html>
