<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>Button</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body ontouchstart>
	<h1 class="page_title">按钮</h1>
	<div class="content">
		<a href="javascript:;" class="jinui_btn jinui_btn_default">默认按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_default jinui_btn_disabled">默认按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_default jinui_btn_line">默认按钮</a>


		<a href="javascript:;" class="jinui_btn jinui_btn_primary">确认按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_primary jinui_btn_disabled">确认按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_primary jinui_btn_line">确认按钮</a>

		<a href="javascript:;" class="jinui_btn jinui_btn_info">信息按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_info jinui_btn_disabled">信息按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_info jinui_btn_line">信息按钮</a>

		<a href="javascript:;" class="jinui_btn jinui_btn_danger">危险按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_danger jinui_btn_disabled">危险按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_danger jinui_btn_line">危险按钮</a>

		<a href="javascript:;" class="jinui_btn jinui_btn_warning">警告按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_warning jinui_btn_disabled">警告按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_warning jinui_btn_line">警告按钮</a>


		<a href="javascript:;" class="jinui_btn jinui_btn_default jinui_btn_inline">内联按钮</a>
		<a href="javascript:;" class="jinui_btn jinui_btn_primary jinui_btn_inline">确认按钮</a>

	</div>
</body>
</html>