<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>Grid</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body>
	<h1 class="page_title">栅格化</h1>
	<h2>有间距10px</h2>
	<div class="jinui_row">
		<div class="jinui_col_5">5</div>
		<div class="jinui_col_95">95</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
		<div class="jinui_col_10">10</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_20">20</div>
		<div class="jinui_col_20">20</div>
		<div class="jinui_col_20">20</div>
		<div class="jinui_col_20">20</div>
		<div class="jinui_col_20">20</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_33">33</div>
		<div class="jinui_col_33">33</div>
		<div class="jinui_col_33">33</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_40">40</div>
		<div class="jinui_col_60">60</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_50">50</div>
		<div class="jinui_col_50">50</div>
	</div>
	<div class="jinui_row">
		<div class="jinui_col_100">100</div>
	</div>

	<h2>无间距</h2>
	<div class="jinui_row jinui_no_gutter">
		<div class="jinui_col_50">50</div>
		<div class="jinui_col_50">50</div>
	</div>
	<div class="jinui_row jinui_no_gutter">
		<div class="jinui_col_33">33</div>
		<div class="jinui_col_33">33</div>
		<div class="jinui_col_33">33</div>
	</div>
</body>
</html>