<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>icon</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body ontouchstart>
	<h1 class="page_title">icon</h1>
	
	<div class="jinui_article">
		<i class="jinui_icon_msg jinui_icon_success"></i>
		<i class="jinui_icon_msg jinui_icon_info"></i>
		<i class="jinui_icon_msg jinui_icon_warn"></i>
	</div>
	<div class="jinui_article">
		<i class="jinui_icon_success"></i>
		<i class="jinui_icon_success_circle"></i>
		<i class="jinui_icon_success_empty"></i>
		<i class="jinui_icon_cancel_circle"></i>
		<i class="jinui_icon_cancel"></i>
		<i class="jinui_icon_info"></i>
		<i class="jinui_icon_warn"></i>
		<i class="jinui_icon_circle"></i>
		<i class="jinui_icon_search"></i>
		<i class="jinui_icon_chevron_left"></i>
		<i class="jinui_icon_chevron_right"></i>
	</div>
</body>
</html>