<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>列表</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body ontouchstart>
	<h1 class="page_title">列表</h1>
	
	<div class="jinui_list_title">
		仅有标题列表项
	</div>
	<ul class="jinui_lists">
		<li class="jinui_list">
			列表项
		</li>
		<li class="jinui_list">
			列表项
		</li>
	</ul>
	<div class="jinui_list_title">
		无间距列表项
	</div>
	<ul class="jinui_lists jinui_list_nospace">
		<li class="jinui_list">
			列表项
		</li>
		<li class="jinui_list">
			列表项
		</li>
	</ul>


	<div class="jinui_list_title">
		带说明的列表项
	</div>
	<ul class="jinui_lists">
		<li class="jinui_list">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
		<li class="jinui_list">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
	</ul>

	<div class="jinui_list_title">
		带图标说明的列表项
	</div>
	<ul class="jinui_lists">
		<li class="jinui_list">
			<div class="jinui_list_hd">
				<img class="jinui_list_icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
			</div>
			<div class="jinui_list_bd">
				列表项
			</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
		<li class="jinui_list">
			<div class="jinui_list_hd">
				<img class="jinui_list_icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
			</div>
			<div class="jinui_list_bd">
				列表项
			</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
	</ul>

	<div class="jinui_list_title">
		带跳转的列表项
	</div>
	<div class="jinui_lists jinui_lists_link">
		<a class="jinui_list no_access" href="javascript:;">
			<div class="jinui_list_bd">无点击态</div>
			<div class="jinui_list_ft"></div>
		</a>
		<a class="jinui_list" href="javascript:;">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft"></div>
		</a>
		<a class="jinui_list" href="javascript:;">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft">说明内容</div>
		</a>
		<a class="jinui_list" href="javascript:;">
			<div class="jinui_list_hd">
				<img class="jinui_list_icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
			</div>
			<div class="jinui_list_bd">
				列表项
			</div>
			<div class="jinui_list_ft">说明内容</div>
		</a>
	</div>
</body>
</html>