<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>列表</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body>
	<h1 class="page_title">列表</h1>
	
	<div class="jinui_list_title">
		仅有标题列表项
	</div>
	<ul class="jinui_lists">
		<li class="jinui_list">
			列表项
		</li>
		<li class="jinui_list">
			列表项
		</li>
	</ul>
	<div class="jinui_list_title">
		无间距列表项
	</div>
	<ul class="jinui_lists jinui_list_nospace">
		<li class="jinui_list">
			列表项
		</li>
		<li class="jinui_list">
			列表项
		</li>
	</ul>


	<div class="jinui_list_title">
		带说明的列表项
	</div>
	<ul class="jinui_lists">
		<li class="jinui_list">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
		<li class="jinui_list">
			<div class="jinui_list_bd">列表项</div>
			<div class="jinui_list_ft">说明内容</div>
		</li>
	</ul>
</body>
</html>