<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
	<title>msg</title>
	<link rel="stylesheet" href="../../dist/jinui.css">
	<link rel="stylesheet" href="../demo.css">
</head>
<body ontouchstart>
	
	<div class="jinui_msg">
		<div class="jinui_icon_area">
			<i class="jinui_icon_msg jinui_icon_success"></i>
		</div>
		<div class="jinui_text_area">
			<h2 class="jinui_msg_title">保存成功</h2>
			<p class="jinui_msg_desc">这里是一些描述信息</p>
		</div>
		<div class="jinui_btn_area">
			<a href="javascript:;" class="jinui_btn jinui_btn_primary">确定</a>
			<a href="javascript:;" class="jinui_btn jinui_btn_default">取消</a>
		</div>
		<div class="jinui_msg_extra">
			<a href="">查看详情</a>
		</div>
	</div>

	<div class="jinui_msg">
		<div class="jinui_icon_area">
			<i class="jinui_icon_msg jinui_icon_warn"></i>
		</div>
		<div class="jinui_text_area">
			<h2 class="jinui_msg_title">保存成功</h2>
			<p class="jinui_msg_desc">这里是一些描述信息</p>
		</div>
		<div class="jinui_btn_area">
			<a href="javascript:;" class="jinui_btn jinui_btn_warning">确定</a>
			<a href="javascript:;" class="jinui_btn jinui_btn_default">取消</a>
		</div>
		<div class="jinui_msg_extra">
			<a href="">查看详情</a>
		</div>
	</div>
	
</body>
</html>