<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Tab</title>
    <link rel="stylesheet" href="../../dist/jinui.css">
    <link rel="stylesheet" href="../demo.css">
</head>

<body ontouchstart>
    <h1 class="page_title">Tab</h1>

    <div class="jinui_list_title">
    	nav标签
    </div>
    <div class="jinui_tab">
        <div class="jinui_tab_items">
            <div class="jinui_tab_item">
                选项一
            </div>
            <div class="jinui_tab_item">
                选项二
            </div>
            <div class="jinui_tab_item">
                选项三
            </div>
        </div>
    </div>
    <div class="jinui_list_title">
        nav标签
    </div>
    <div class="jinui_tab">
        <div class="jinui_tab_items">
            <div class="jinui_tab_item jinui_tab_item_active">
                选项一
            </div>
            <div class="jinui_tab_item">
                选项二
            </div>
            <div class="jinui_tab_item">
                选项三
            </div>
        </div>
    </div>
	
	<div class="jinui_list_title">
    	tab标签
    </div>
    <div class="jinui_tab jinui_tab_link">
    	<div class="jinui_tab_items">
	        <div class="jinui_tab_item ">
	            选项一
	        </div>
	        <div class="jinui_tab_item jinui_tab_item_active">
	            选项二
	        </div>
	        <div class="jinui_tab_item">
	            选项三
	        </div>
	    </div>
    </div>

    <div class="jinui_list_title">
        tab标签
    </div>
    <div class="jinui_tab jinui_tab_nav">
        <div class="jinui_tab_items">
            <div class="jinui_tab_item jinui_tab_item_active">
                选项一
            </div>
            <div class="jinui_tab_item ">
                选项二
            </div>
            <div class="jinui_tab_item">
                选项三
            </div>
        </div>
    </div>
    
</body>

</html>
