body{
	background-color: #fbf9fe;
}
.page_title{
	text-align: center;
	padding:30px 0;
	font-size: 32px;
	color:#F6920F;
}

.content{
	padding:10px;
}


.jinui_row{
	margin-bottom: 10px;
}
[class*="jinui_col_"] {
    border: 1px solid #F0F0F0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.demo_grid{
	margin: 0;
	border-top: 1px solid #F0F0F0;
	[class*="jinui_col_"] {
		border-width: 0 1px 1px 0;
	    height: 60px;
	    line-height: 60px;
	    text-align: center;

	}

	+ .demo_grid{
		border-top:0;
	}

	a{
		display: block;
		color:#000;
		font-size: 14px;
	}
}



.customize{
	background:#3D6265;
}