//
// Rem
// --------------------------------------------------

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.6;
    font-family: $sansFont;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

ul{
	list-style: none;
}
li{
	list-style: none;
}