//列表

.jinui_list_title{
	margin-top: .77em;
    margin-bottom: .3em;
    padding:0 $jinuiBodyAreaW;
    color: $color-tip;
    font-size: 14px;
}

.jinui_lists{
	position: relative;
	overflow: hidden;
	line-height: 1.5;
	&:before{
		@include setTopLine();
	}
	&:after{
		@include setBottomLine();
	}
}

.jinui_list{
	padding:10px $jinuiBodyAreaW;
	position: relative;
	display: flex;
	align-items: center;
	color:$color-text;
	&:before{
		@include setTopLine();
		left:$jinuiBodyAreaW;
	}
	&:first-child{
		&:before{
			display: none;
		}
	}
}
.jinui_list_nospace{
	.jinui_list{
		padding:10px $jinuiBodyAreaW;
		&:before{
			left:0;
		}
	}
}

.jinui_lists + .jinui_lists{
	margin-top: 10px;
}

.jinui_list_bd{
	flex:1;
}
.jinui_list_ft {
    text-align: right;
    color: $color-tip;
}
.jinui_list_icon{
	width:20px;
	margin-right:5px;
	display:block
}

.jinui_lists_link{
	.jinui_list:not(.no_access){
		&:active {
            background-color: #ECECEC;
        }
	}
	.jinui_list_ft{
		&:after{
			@include setArrow();
		}
	}
}

.jinui_label{
	display: inline-block;
	width: 80px;
	margin-right: 5px;
}
.jinui_lists_info{
	.jinui_list{
		align-items:flex-start;
	}
	.jinui_list_bd{
		flex:1;
		text-align: left;
	}
}