//宏定义
//上边框
@mixin setTopLine($width:1px) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $width;
    border-top: $width solid $color-split;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: scaleY(0.5);
    z-index: 2;
}

//下边框
@mixin setBottomLine($width:1px) {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $width;
    border-bottom: $width solid $color-split;
    color: #D9D9D9;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    z-index: 2;
}

//右边框
@mixin setRightLine($width:1px) {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: $width;
    height: 100%;
    border-right: $width solid $color-split;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

//左边框
@mixin setLeftLine($width:1px) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: $width;
    height: 100%;
    border-left: $width solid $color-split;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

//箭头
@mixin setArrow() {
    content: " ";
    width: 6px;
    height: 6px;
    border: 2px solid #ccc;
    display: inline-block;
    transform: rotate(45deg);
    border-color: #ccc #ccc transparent transparent;
}

//设置tap点击的时候透明
@mixin tapHighlight(){
    -webkit-tap-highlight-color: transparent;
}
